   /* body à prendre pour ton css*/
   body{

  
        /*background: -moz-linear-gradient(-45deg, #70357c 7%, #741233 20%, #bbbad3 48%, #af1712 100%)*/
        
        
        /*background: -webkit-linear-gradient(-45deg, #44357c 7%, #cf8ca2 20%, #66aec0 48%, #400cd1 100% )*/
        
        /*background: linear-gradient(135deg, #b45f38 7%, #e9244f8a 20%, #f8975f 48%, #9b8ac9 100% )*/
        
        /*background: -moz-linear-gradient(-45deg, #11490948 7%, #4b941b8a 20%, #62ac4f 48%, #18c75b 100%)*/
        
        }

.container{
    position: absolute;
    right: 141px;
    height:650px;
    width: 1100px;
    background-image: url(Forest_mk2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
/* style des progress bar à prendre aussi*/
.progress{
    position: relative;
   height: 20px;
    width: 280px;
    border-style: solid;
    border-color: black;
    background-color: bisque;
    border-radius: 30px;
    right: -188px;
    top: 384px;
}

.progress-bar{
    position: absolute;
    height: 20px;
    width: 110px;
    background: -moz-linear-gradient(-45deg,rgb(118, 241, 118)30%, rgb(3, 94, 3)50%);
    border-radius: 30px;
    text-align: center;
}

button{
   position: relative;
   left: 510px;
   top: 353px;
}
/* css pour les h1 et autres
h1{
    text-shadow: 3px 3px 0px rgb(80, 52, 156);
    color: rgb(34, 25, 25);
  }*/